body
{
    background-color:grey;

}
footer
{
    position:absolute;
    bottom:0px;
    border:2px solid black;
    width:100%;
}
#titre_site {
    color:white;
    font-size:18px;
    text-align: center;
}