/* /////    MISE EN PAGE    ///////  */
body{
    background-color:white(218, 171, 110);
    margin:0px;
    padding:0px;
}

header{
    background-color:white;
    border-bottom: 2px solid black;
    
}
footer{
    background-color:rgb(255, 255, 255);
    border-top:2px solid black;
    width:100%;
    margin-top: 24px;
}

.grid-container {
    display: grid;
    background-color:black;
}

h1{
    font: small-caps bold 26px/1 sans-serif;  /* Même police sur toutes les pages, chaque titre est accordé aux autres */
    text-align: center;   
    color: black;
    flex-grow: 1;
    
}


h2{
    font: small-caps bold 19px/1 sans-serif;
}
h3{
    font: small-caps  17px/1 sans-serif;
}
a {
    text-decoration:none;
    font: small-caps 18px/1 sans-serif;
    color: black;
}
p {
    
    font: small-caps 18px/1 sans-serif;
}
label {
    font: small-caps  18px/1 sans-serif;
}


#contact {
    text-align: center;
}


form{
    border-style: groove;
}

/* Mise en forme COMPTE */

.formulaires {
    display: grid;
    justify-content: space-between;
}
/* .nouveauCompte {
    display: flex;
    justify-content: right;
}

#connexion */

/*     */
.option {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boption {
    background-color: grey;
    color:white;
    border:none;
    border-radius:12px;
    width:200px;
    height:50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.boptionchoisie {
    background-color: blue;
    border:none;
    border-radius:12px;
    width:200px;
    height:50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.boptionchoisie:hover {
    cursor:pointer;
    background-color:lightblue;
    transition:0.3s;
}

.boption:hover {
    cursor:pointer;
    background-color: lightgrey;
    transition:0.3s;
}

.boptioninactive {
    background-color: grey;
    color:white;
    border:none;
    border-radius:12px;
    width:200px;
    height:50px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: not-allowed;
    opacity: 0.6;
}

#footer-div{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:space-between;
}

#footer-right-div {
    margin-right: 200px;
}

.link {
    text-decoration: none;
    color:black;
}

.link:hover {
    cursor:pointer;
    color:grey;
    transition:0.5s;
}

.Navigateur {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.trick {
    padding-left: 24px;
    padding-right: 12px;
    color:white;
    cursor:default;
}

.baccueil{
    position:relative;
    float:left;
    padding:12px;
    padding-right:24px;
    padding-left:24px;
    color:black;
    background-color: white;
    cursor:pointer;
    font: small-caps bold 14px sans-serif;
    border:none;
    border-right:1px solid black;
}

.baccueil:hover{
    opacity:1;
    background-color:lightgray;
    color:black;
}

#ButtonScrollTop {
    display:none;
    position:fixed;
    bottom:30px;
    right:20px;
    border-radius:10px;
    z-index:99;
    border:none;
    outline:none;
}

#ButtonScrollTop:hover {
    cursor: pointer;
}


#Personnalisation {
    text-align: center;

}
#filtre {
    position: absolute;
    left:0%;
}
#bgateaudiv {
    display:flex;
   
    text-align: center;
    align-items: center;
    justify-content:space-evenly;
    position:relative; 
    left:0%;
    padding-top:95px;
   
}

.class_accueil {
    border:black;
    border-width:3px;
}
/* PAGE PERSONNALISATION */

.grid-container {
    display:grid;
    grid-template-columns: auto auto;
    border:black;
    border-width: 3px;
    grid-gap:10px 20px;
    padding:10px
}

.grid-container > div {
    background-color: white;
    text-align: center;
    font-size:30px;
}

#photoGateau {
    grid-row:1/4;
    /* width:900px; */
    /* height:900px; */
/* #item1 {
    grid-row:1/3;
    width:100%;
    height:100%;
} */

/* #gout {
    grid-column-start: 2;
    grid-column-end: 3;
    /* width:900px;                        */
} */

#topping {
    grid-column-start: 2;
    grid-column-end: 3; 
}
#boutonPanier {
    grid-column-start: 2;
    grid-column-end: 3;
}

/* .bgateau {
    background-color:blanchedalmond;
    text-align: center;
    font-size: larger;
    border-color:burlywood;
    border-style: solid;
    border-radius: 1px;
    position: relative;
    width:20%;
    height:80px;
    margin-bottom: 200px;
    margin-top: 100px;
    opacity:0.6;
    text-decoration: none;
}

.bgateau:hover {
    opacity: 1;
    transition-duration: 0.6s;
} */

.accueil{
    background-image:url("https://images.squarespace-cdn.com/content/v1/5edbee962dbee276845885f2/1599420869866-DAXXUN8MFFO46KNKDUOA/P%C3%A2tissier+professionnel");
    border:2px solid black;
    width: 50%;
    text-align: center;
    background-size:cover;
    height:50%;

}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

/* PARTIE CAROUSEL */
/*                   */

.titre_slide {
    position: absolute;
    top: 0px;
    padding-left: 20px;padding-right: 20px;
    text-align: center;
    width: 100%;
    /* font: small-caps bold 24px/1 sans-serif; */
} 


.carousel-container {
    text-align: center;
    margin-top: 0%; 
    /* margin-left:auto; margin-right: auto; */
}

.slide {
    position: relative;
    display: none;
    height: 700px;
    width: 100%;
    background-size: cover; /* permet d'ajuster l'image dans le div */
    background-repeat: no-repeat;
    background-position: center;
    }

.text {
    position: absolute;
    padding-top: 10%; left:20%; right:20%;
    text-align: center;
    top: 200px;
    color:oldlace;
    /* font: small-caps 18px/1 sans-serif; */
}
#Bequipe {
    
    position: absolute;
    padding-top: 10%;
    right:35%; left:36%;
    text-align: center;
    top: 200px;
    color:oldlace;
    /* font: small-caps 18px/1 sans-serif;     */
}
.prev, .next {
    height:5%;
    cursor: pointer;
    position: absolute;
    top: 50%; bottom:50%;  /* trouver la bonne taille*/
    width: auto;
    color:rgb(7, 7, 7);
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev {
    left:1%;

}
.next {
    right: 1%;
    border-radius: 3px 0 0 3px;
    }
.prev:hover, .next:hover {
    background-color:rgb(136, 131, 132);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    /*margin: 0 2px; */
    background-color: #bbb;
    border-radius: 50%;
    /* display: inline-block; */
    transition: background-color 0.6s ease;
}
/* .active, .dot:hover {
    background-color: #717171;
} */
    
#affichageDot {
    position : absolute;
    top:80% ; left:50%;
}
/* fin carousel*/


/* Page Compte / commande */

