body{
    background-color:grey;

}
footer{
    position:absolute;
    bottom:0px;
    border:2px solid black;
    width:100%;
}
#titre_site {
    color:white;
    font-size:18px;
    text-align: center;
}
.accueil{
    background-image:url("https://images.squarespace-cdn.com/content/v1/5edbee962dbee276845885f2/1599420869866-DAXXUN8MFFO46KNKDUOA/P%C3%A2tissier+professionnel");
    border:2px solid black;
    width: 50%;
    text-align: center;
    background-size:cover;
    height:50%;

}