.slide_image {
    width: 10%;
}

.slide_image {
    direction: flex;
    flex-direction: column;
    -ms-flex-align: stretch;
}


.Navigation {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    flex-grow: 1;
}
.nvcompte {
    display:flex;
    flex-direction:column;
    
}

