.titre_slide {
    text-align: center;
    
    font: small-caps bold 24px/1 sans-serif;
}



.carousel-container {
    width: 80vw;
    height:70vw;
    position:relative;
    margin-top: 10%;
    margin-left: 30%;
    
  }

.slide {
    position: relative;
    display: none;
    height: 500px;
    background-size: contain; /* permet d'ajuster l'image dans le div */
    background-repeat: no-repeat;
  }

  .text {
    position: absolute;
    padding-top: 10%;
    top: 200px;
    color:rgb(2, 1, 1);
    font: small-caps 12px/1 sans-serif;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 15%;  /* trouver la bonne taille*/
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:rgb(7, 7, 7);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0%;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color:rgb(136, 131, 132);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  
  #affichageDot {
  position : absolute;
  top:80% ; left:45%;
  }