body{
    background-color:whitesmoke;
    margin:0px;

}
footer{
    background-color:grey;
    position:relative;
    bottom:0px;
    border-top:2px solid black;
    width:100%;
}

button{
    position:relative;
    padding:12px;
    background-color:black;
    color:white;
    border:2px white;
    border-radius:50%;
    transition:0.7s;
    opacity:0.7;
    cursor:pointer;
}

button:hover{
    opacity:1;
    background-color:white;
    color:black;
    border:2px black;
}

header{
    background-color: grey;
    border-width: 2px;
    padding:2px;
    padding-top:5px;
}

#titre_site {
    color:white;
    font-size:18px;
    text-align: center;
}
.accueil{
    background-image:url("https://images.squarespace-cdn.com/content/v1/5edbee962dbee276845885f2/1599420869866-DAXXUN8MFFO46KNKDUOA/P%C3%A2tissier+professionnel");
    border:2px solid black;
    width: 50%;
    text-align: center;
    background-size:cover;
    height:50%;

}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

