body{
    background-color:whitesmoke;
    margin:0px;

}
footer{
    background-color:grey;
    position:relative;
    bottom:0px;
    border-top:2px solid black;
    width:100%;
}

.baccueil{
    position:relative;
    padding:12px;
    background-color:black;
    color:white;
    border:2px white;
    border-radius:50%;
    transition:0.7s;
    opacity:0.7;
    cursor:pointer;
}



.baccueil:hover{
    opacity:1;
    background-color:white;
    color:black;
    border:2px black;
}

header{
    background-color: grey;
    border-width: 2px;
    padding:2px;
    padding-top:5px;
}

#titre_site {
    color:white;
    font-size:18px;
    text-align: center;
}

#bgateaudiv {
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}

#bgateau {
    background-color:blanchedalmond;
    text-align: center;
    font-size: larger;
    border-color:burlywood;
    border-style: solid;
    border-radius: 1px;
    position: relative;
    width:20%;
    height:80px;
    margin-bottom: 200px;
    margin-top: 100px;
    opacity:0.6;
    text-decoration: none;
}

#bgateau:hover {
    opacity: 1;
    transition-duration: 0.6s;
}

.accueil{
    background-image:url("https://images.squarespace-cdn.com/content/v1/5edbee962dbee276845885f2/1599420869866-DAXXUN8MFFO46KNKDUOA/P%C3%A2tissier+professionnel");
    border:2px solid black;
    width: 50%;
    text-align: center;
    background-size:cover;
    height:50%;

}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

/* PARTIE CAROUSEL */
/*                   */

.titre_slide {
    position: absolute;
    top: 0px;
    padding-left: 20px;padding-right: 20px;
    text-align: center;
    width: 100%;
    font: small-caps bold 24px/1 sans-serif;
  }
  
  
  
.carousel-container {
      width: 80vw;
      height:70vw;
      position:relative;
      margin-top: 5%;
      margin-left: 20%; margin-right:20%;
      object-fit: cover;
    }
  
.slide {
      position: relative;
      display: none;
      height: 75%;
      width: 75%;
      background-size: contain; /* permet d'ajuster l'image dans le div */
      background-repeat: no-repeat;
      background-position: center;
    
    }
  
.text {
    position: absolute;
    padding-top: 10%;
    text-align: center;
    top: 200px;
    color:oldlace;
    font: small-caps 18px/1 sans-serif;
}
#Bequipe {
    position: relative;
    top:250px; left:50%; right:50%;
    text-decoration: none;
    background-color: rgba(77, 70, 70, 0.616);
    border:black;
    color:oldlace;
    
}
.prev, .next {
    height:5%;
    cursor: pointer;
    position: absolute;
    top: 50%; bottom:50%;  /* trouver la bonne taille*/
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:rgb(7, 7, 7);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
.next {
      right: 0%;
      border-radius: 3px 0 0 3px;
    }
.prev:hover, .next:hover {
    background-color:rgb(136, 131, 132);
    }
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
    
#affichageDot {
    position : absolute;
    top:80% ; left:45%;
    
}

/* fin carousel */


