/* /////    MISE EN PAGE    ///////  */
body{
    background-color:rgb(218, 171, 110);
    margin:0px;
    padding:0px;
}
header{
    background-color:rgb(143, 85, 47);
    border:rgba(141, 91, 58, 0.952);
    border-width: 2px;
    padding:2px;
    padding-top:5px;
}
footer{
    background-color:rgb(145, 85, 45);
    border-top:2px solid black;
    width:100%;
}

.grid-container {
    display: grid;
    background-color:black;
}

h1{
    font: small-caps bold 24px/1 sans-serif;     /* Même police sur toutes les pages, chaque titre est accordé aux autres */
}

p {
    font: small-caps 18px/1 sans-serif;
}
label {
    font: small-caps  18px/1 sans-serif;
}


.baccueil{
    position:relative;
    padding:12px;
    background-color:black;
    color:white;
    border:2px white;
    border-radius:50%;
    transition:0.7s;
    opacity:0.7;
    cursor:pointer;
}

.baccueil:hover{
    opacity:1;
    background-color:white;
    color:black;
    border:2px black;
}



#titre_site {
    color:white;
    font-size:18px;
    text-align: center;
}

#bgateaudiv {
    display:flex;
    /* grid-gap:50px;
    grid-template-columns:auto auto;
    grid-column:1;
     */

    align-items: center;
    justify-content:space-evenly;
    position:relative; 
    left:0%;
    padding-top:200px;
}
#etageUnique {
    /* grid-column-start: 1;
    grid-column-end: 2; */
 
    background-image: cover;
    background-repeat: no-repeat;     /* j'essaie d'ajuster les images pour qu'elles aient la même taille*/
}
/* #etagesDoubles {
    grid-column-start: 2;
    grid-column-end: 3;                       J'ai essayé d'utiliser "grid layout" plutôt que flex mais sans succès.
}
#etagesTriples {
    grid-column-start: 3;
    grid-column-end: 4;  
} */

/* .bgateau {
    background-color:blanchedalmond;
    text-align: center;
    font-size: larger;
    border-color:burlywood;
    border-style: solid;
    border-radius: 1px;
    position: relative;
    width:20%;
    height:80px;
    margin-bottom: 200px;
    margin-top: 100px;
    opacity:0.6;
    text-decoration: none;
}

.bgateau:hover {
    opacity: 1;
    transition-duration: 0.6s;
} */

.accueil{
    background-image:url("https://images.squarespace-cdn.com/content/v1/5edbee962dbee276845885f2/1599420869866-DAXXUN8MFFO46KNKDUOA/P%C3%A2tissier+professionnel");
    border:2px solid black;
    width: 50%;
    text-align: center;
    background-size:cover;
    height:50%;

}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

/* PARTIE CAROUSEL */
/*                   */

.titre_slide {
    position: absolute;
    top: 0px;
    padding-left: 20px;padding-right: 20px;
    text-align: center;
    width: 100%;
    /* font: small-caps bold 24px/1 sans-serif; */
} 


.carousel-container {
    /* width: 800px; */
    text-align: center;
    /* height: 700px; */
    /* position:absolute; */
    margin-top: 5%; margin-left:auto; margin-right: auto;
    
    
    }

.slide {
    position: relative;
    display: none;
    height: 450px;
    width: 800px;
    background-size: cover; /* permet d'ajuster l'image dans le div */
    background-repeat: no-repeat;
    background-position: center;
    
    }

.text {
    position: absolute;
    padding-top: 10%;
    text-align: center;
    top: 200px;
    color:oldlace;
    /* font: small-caps 18px/1 sans-serif; */
}
#Bequipe {
    
    position: absolute;
    padding-top: 10%;
    right:35%; left:36%;
    text-align: center;
    top: 200px;
    color:oldlace;
    /* font: small-caps 18px/1 sans-serif;     */
}
.prev, .next {
    height:5%;
    cursor: pointer;
    position: absolute;
    top: 50%; bottom:50%;  /* trouver la bonne taille*/
    width: auto;
    color:rgb(7, 7, 7);
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev {
    left:1%;

}
.next {
    right: 1%;
    border-radius: 3px 0 0 3px;
    }
.prev:hover, .next:hover {
    background-color:rgb(136, 131, 132);
    }
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    /*margin: 0 2px; */
    background-color: #bbb;
    border-radius: 50%;
    /* display: inline-block; */
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
    
#affichageDot {
    position : absolute;
    top:80% ; left:50%;
}
/* fin carousel*/


/* Page Compte / commande */

